@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Kumbh Sans';
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 9em;
  padding: 0;
}
head {
  margin: 0;
  padding: 0;
}
input {
  height: 2rem;
  width: 15rem;
  font-size: 1.5rem;
}
button {
  pointer-events: auto;
  cursor: pointer;
  background: #559cad;
  border: none;
  padding: 1.5rem 3rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  color: aliceblue;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  background-color: #4a5899;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1em;
}

.signup-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  gap: 1em;
}

.login-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1em;
}

.popup-container {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  gap: 20px;
  margin-top: 5em;
  background-color: rgb(251, 247, 242);
  max-width: 20em;
  padding: 5em;
  margin-right: auto;
  margin-left: auto;
  font-size: 2rem;
}

.popup-days {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

#week-cal {
  display: flex;
  flex-direction: row;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 50vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

thead tr {
  height: 20px;
  background: #ffed86;
  font-size: 2em;
}

td {
  font-size: 2em;
  text-align: center;
}

li {
  list-style: none;
  font-size: 1.5em;
}

h3 {
  font-size: 2rem;
}
.week-cal {
  margin-bottom: 20vh;
}

.day-cal {
  border: black;
  border-style: solid;
  text-align: center;
  height: 20vh;
  width: 10vw;
  margin-left: auto;
  margin-right: auto;
}

.cal-title {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.big-title {
  text-align: center;
}

.add-button {
  margin-left: 7rem;
}

.popup-textfields {
  gap: 30px;
}

.signout-btn {
  margin-right: 7rem;
}

.motivation {
  margin-top: 10em;
  display: flex;
  justify-content: center;
}

.motivational-phrase {
  display: none;
}
.photo-motivation:hover + .motivational-phrase {
  display: block;
  color: black;
}
